body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#principal-cont {
    width: 200%;
    height: 100vh;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.area {
    width: 100%;
}

.factory-area {
    background-color: rgb(126, 135, 144);
}

.forest-area {
    background-color: rgb(23, 129, 23);
}

.navButton {
    opacity: 0;
    transition: all 0.25s ease-in-out;
    width: 40px;
}

.navButton:hover {
    opacity: 0.75;
    cursor: pointer;
}

.rightNavButton {
    height: 100vh;
    position: relative;
    float: right;
    border: 5px white solid;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    background-color: black;
}

.leftNavButton {
    height: 100vh;
    position: relative;
    float: left;
    border: 5px white solid;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background-color: black;
}